html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    font-size: 0.88rem;
    color: #121213;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-login {
    background-image: url('../img/x.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.app-login-box h4 {
    margin-bottom: 1.5rem;
    font-weight: n;
}

.app-login-box h4 span {
    font-size: 1.1rem;
}

.app-login-box h4 div {
    opacity: .6;
}


/* .row>div[class*='col-'] {
    display: flex;
} */

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    overflow: hidden;
    background: #e9ecef;
}

.app-logo {
    height: 40px;
    margin-bottom: 2rem;
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-image: url('/asset/img/logo.png');
}


.btn {
    font-size: 0.8rem;
    font-weight: 500;
}

button:focus {
    outline: none !important;
}

.app-header-right {
    display: flex;
    margin-left: auto;
    padding-right: 1.5rem;
}

.user-info-heading {
    opacity: .8;
    color: #fff;
    font-weight: bold;

}

.user-info-subheading {
    opacity: .8;
    color: #fff;
    font-weight: bold;

}

.settings-header-inner {
    margin: -1px -1px 0;
    padding: 1.5rem 0.5rem;
    padding-top: 1.8rem;
    padding-right: 0.5rem;
    padding-bottom: 1.2rem;
    padding-left: 0.5rem;
    position: relative;
}

.settings-header-background {
    background: url(https://demo.dashboardpack.com/architectui-angular-pro/assets/images/dropdown-header/city1.jpg);
    opacity: .1 !important;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
    opacity: .25;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    background-size: cover;
}

.settings-header {
    color: #fff;
    margin-top: -0.65rem;
    margin-bottom: 0.65rem;
}

.dropdown-menu-lg {
    min-width: 22rem;
}

.settings-header-title {
    font-weight: 500;
    font-size: 1.25rem;
}

.settings-header-subtitle {
    opacity: .8;
}

.settings-header-content {
    text-align: center;
}

.nav-item-header {
    text-transform: uppercase;
    font-size: 0.73333333rem;
    color: #6c757d;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.dropdown-menu {
    font-size: 0.88rem !important;
    box-shadow:
        0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    margin: 0.8rem 0.1rem;
}

.nav-item-divider {
    margin: 0.5rem 0;
    height: 1px;
    overflow: hidden;
    background: #dee2e6;
}

.nav-link .material-icons-outlined {
    color: #3f6ad8;
    font-size: 1rem;
    width: 30px;
    text-align: center;
    opacity: .45;
    margin-left: -10px;
}

.nav-link {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.nav-item-btn {
    padding: 0.5rem 1rem;
}

.dropdown-menu {
    border: none;
}

.app-header {
    background: #008fd4;
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 10;
    transition: all .2s;
    position: fixed;
    width: 100%;
    padding-left: 280px;
}

.app-header.header-shadow {
    box-shadow:
        0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.app-content-outer {
    flex: 1;
    flex-direction: column;
    display: flex;
    z-index: 8;
    padding: 60px 0 0 280px;
    transition: all .2s;
}



.app-content-inner {
    flex: 1;
    padding: 30px 30px 0;
    background: #f0f3f5;
}

.app-page-title {
    padding: 30px;
    margin: -30px -30px 30px;
    position: relative;
    background: rgba(255, 255, 255, 0.45);
}

.material-icons-outlined {
    font-size: unset;
}

.app-page-title-icon {
    font-size: 2rem !important;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0.83333333rem;
    margin: 0 30px 0 0;
    background: #fff;
    box-shadow:
        0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-radius: 0.25rem;
    width: 60px;
    height: 60px;
}

.app-page-title-heading {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

.app-page-title .page-title-subheading {
    padding: 3px 0 0;
    font-size: 0.88rem;
    opacity: .6;
}

.app-header__logo {
    padding: 0 1.5rem;
    height: 60px;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: none;
}

.logo-src {
    height: 40px;
    width: 160px;
    background-image: url('/asset/img/logo.png');
    background-size: auto 40px;
    background-repeat: no-repeat;
}

.app-sidebar {
    background: white;
    display: flex;
    z-index: 20;
    overflow: hidden;
    width: 280px;
    position: fixed;
    height: 100vh;
    box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    transition: all .3s ease;
}

.app-header-logo {
    background: #fff;
    display: flex;
    align-items: center;
    height: 60px;
}

.v-sidebar-menu {
    overflow: scroll;
    width: auto !important;
    padding: 0 1.5rem 1.5rem;
}

.vsm-header {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 1rem 0;
    font-weight: bold;
    color: #3f6ad8;
    white-space: nowrap;
}

.vsm-icon {
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px !important;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -17px;
    font-size: 1.5rem;
    opacity: .3;
    transition: color 300ms;
}

.vsm-link {
    display: block;
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 1.5rem 0 45px;
    position: relative;
    border-radius: .25rem;
    color: #495057;
    white-space: nowrap;
    transition: all .2s;
    text-decoration: none;
    border: 0;
    background: transparent;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-weight: 600;
}

.vsm-link:hover {
    background: #e0f3ff;
    color: #3f6ad8 !important;
}

.vsm-arrow {
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -17px;
    font-size: 1.5rem;
    font-style: normal;
    opacity: .3;
    transition: all 300ms;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.vsm-arrow:after {
    content: 'keyboard_arrow_up';
    font-family: 'Material Icons';
}

.vsm-list {
    padding: 0.75rem 0 0.75rem 2.25rem;
}

.vsm-item .vsm-link {
    padding: 0 1rem;
    height: 1.9rem;
    line-height: 1.9rem;
    font-weight: normal;
}

.vsm-dropdown {
    position: relative;
}

.vsm-dropdown::before {
    content: '';
    height: 100%;
    opacity: 1;
    width: 3px;
    background: #e0f3ff;
    position: absolute;
    left: 20px;
    top: 0;
    border-radius: 15px;
}

.vsm-link.collapsed {
    font-weight: normal;
}

.closed-sidebar .app-content-outer {
    padding-left: 80px;
}

.closed-sidebar .header-pane {
    display: none;
}

.closed-sidebar .app-sidebar {
    width: 95px;
    min-width: 95px;
    flex: 0 0 80px;
    z-index: 13;
}

.closed-sidebar .vsm-arrow,
.closed-sidebar .vsm-title {
    display: none;
}

.closed-sidebar .vsm-header {
    text-indent: -999em;
}


.closed-sidebar .v-sidebar-menu {
    padding: 0 0.5rem;
}

.closed-sidebar .vsm-icon {
    left: 50%;
    margin-left: -20px;
}

.closed-sidebar .v-sidebar-menu {
    padding: 0 0.5rem;
}

.closed-sidebar.closed-sidebar-open .header-pane {
    display: block;
}

.closed-sidebar.closed-sidebar-open .v-sidebar-menu {
    padding: 0 1.5rem 1.5rem;
}

.closed-sidebar.closed-sidebar-open .app-sidebar {
    width: 280px;
}

.closed-sidebar.closed-sidebar-open .vsm-header {
    text-indent: 0em;
}

.closed-sidebar.closed-sidebar-open .vsm-arrow,
.closed-sidebar.closed-sidebar-open .vsm-title {
    display: block;
}

.closed-sidebar.closed-sidebar-open .vsm-icon {
    left: 5px;
    margin-left: 0;
}

@media only screen and (max-width:1200px) {
    .closed-sidebar.closed-sidebar-open .header-pane {
        display: none !important;
    }
}

.vsm-link.active-item {
    font-weight: bold;
}

.icon-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* card */
/* .card {
    border-width: 0;
    box-shadow:
        0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    margin-bottom: 20px;
} */

.card-btm-border {
    border-bottom: transparent solid 4px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.card-header,
.card-footer {
    background-color: #fff;
}

.card-footer {
    border-top: 1px solid rgba(26, 54, 126, 0.125);
}

.card-header {
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 0.88rem;
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
}

.card-shadow-success {
    box-shadow: 0 0.46875rem 2.1875rem rgba(58, 196, 125, 0.03), 0 0.9375rem 1.40625rem rgba(58, 196, 125, 0.03), 0 0.25rem 0.53125rem rgba(58, 196, 125, 0.05), 0 0.125rem 0.1875rem rgba(58, 196, 125, 0.03);
}

.btn-link {
    color: #008fd3;
}

#app,
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#insert-attendance #map {
    height: 500px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}

.table-hover tbody tr:hover {
    background-color: #e0f3ff;
}

.badge {
    text-transform: uppercase;
    padding: 5px 10px;
    min-width: 19px;
}

.rm-border {
    border-width: 0 !important;
}

/* widget-content */
.widget-content .widget-content-outer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}

.widget-content .widget-content-right {
    margin-left: auto;
}

.widget-content .widget-numbers {
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
}

/* widget-chat */
.widget-chart.text-left .widget-chart-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    position: relative;
}

.widget-chart.text-left .widget-numbers {
    margin-left: 0;
}

.widget-chart .widget-subheading {
    margin: -0.5rem 0 0;
    display: block;
    opacity: .6;
}

.widget-chart .widget-chart-flex:last-child {
    margin-bottom: 0;
}

.widget-chart2 .widget-chart-flex {
    display: flex;
    align-items: baseline;
    align-content: center;
    margin-bottom: 0;
}


/* opacity */
.opacity-6 {
    opacity: .6 !important;
}

/* font size */
.fsize-3 {
    font-size: 1.6rem !important;
}

.fsize-4 {
    font-size: 2rem !important;
}

/* progress */
.progress.progress-bar-xs {
    height: .3rem;
}

/* card */
.card .card-footer {
    align-items: center;
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

/* margin */
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

/* grid-menu */
.grid-menu .btn {
    display: block;
    border: 0;
    min-width: 100%;
}

/* btn */
.btn-sm.btn-icon-only {
    line-height: 0;
    padding: .43rem .5rem;
}

.btn-icon-vertical.btn-transition-text .btn-icon-wrapper {
    transition: all .2s !important;
}

.btn-icon-vertical .btn-icon-wrapper {
    display: block;
    font-size: 200%;
    margin: 5px 0;
    opacity: .6;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-icon-vertical.btn-transition-text.btn-transition-alt:hover .btn-icon-wrapper {
    color: #fff !important;
}

.btn-lg.btn-wide,
.btn-group-lg .btn-wide.btn {
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    background-color: #6A5ACD;
    opacity: .6 !important;
    position: center;
}

/* border */
.border-success {
    border-color: #3ac47d !important;
}

.dropzone-style .dropzone {
    width: 10rem;
    padding: 15px 2px !important;
}

.btn1 {
    border: none;
    color: white;
    padding: 12px 15px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    margin: 15px 5px 15px 5px;
}

.justify {
    text-align: justify;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 20px;
    line-height: 2;
    margin-top: 10px;
}

.copyright {
    text-align: center;
    padding: 60px 0;
    padding-top: 10%;
}

.card-image {
    width: 80%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.img {
    width: 100%;
    height: 100px;
}

.ribbon2 {
    width: 60px;
    padding: 10px 0;
    position: absolute;
    top: -6px;
    left: 25px;
    text-align: center;
    border-top-left-radius: 3px;
    background: #66a4ac;
}

.ribbon2:before {
    height: 0;
    width: 0;
    right: -5.5px;
    top: 0.1px;
    border-bottom: 6px solid #66a4ac;
    border-right: 6px solid transparent;
}

.ribbon2:before,
.ribbon2:after {
    content: "";
    position: absolute;
}

.ribbon2:after {
    height: 0;
    width: 0;
    bottom: -29.5px;
    left: 0;
    border-left: 30px solid #66a4ac;
    border-right: 30px solid #66a4ac;
    border-bottom: 30px solid transparent;
}

.buttonorder {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #66a4ac;
    border-radius: 25px;
}

.button2:hover {
    background-color: #66a4ac;
    color: white;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 8%;
    padding: 10px;
    background: #66a4ac;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
    margin: 30px;
}

.mySlides {
    display: none;
}

.show-cart li {
    display: flex;
}

/* .card {
    margin-bottom: 20px;
} */

.card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
}

/* START CART */


.cart-container {
    width: 100%;
    height: 100%;

    max-width: 52px;
    max-height: 52px;

    background-color: #fafcff;
    position: fixed;
    top: 200px;
    right: 100px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 999;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: max-height .4s .1s, max-width .4s .1s, box-shadow .3s, opacity .3s .2s;
    transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
}

.cart-container .cart-wrapper {
    opacity: 0;
    transition: all .3s ease-in-out;
}

.cart-header {
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    height: 52px;
    line-height: 48px;
    display: block;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.cart-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 320px;
}

.cart-content>.cart-item {
    padding: 15px;
    position: relative;
    border-bottom: 1px solid #eef6ff;

}

.cart-content>.cart-item>img {
    float: left;
    display: block;
    width: 50px;
    border-radius: 5px;
    margin-right: 15px;
}

.cart-content>.cart-item>.text>.title {
    font-size: 14px;
    display: block;
    margin-top: 5px;
    column-count: 2;
}

.cart-content>.cart-item>.text>.title>span {
    display: block;
}

.cart-content>.cart-item>.text>.action {
    font-size: 12px;
}

.cart-footer {
    background-color: #138496;
    color: #FFFFFF;
    height: 65px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 65px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.cart-small {
    position: absolute;
    width: 52px;
    height: 52px;
    z-index: 99999;
    top: 0;
    left: 0;
    display: block;
    background-color: #138496;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.cart-small:hover {
    color: #FFFFFF;
}

.cart-small-num {
    position: absolute;
    color: #FFFFFF;
    font-size: 12px;
    top: -10px;
    right: 5px;
}

.cart-container.opened {

    max-width: 480px;
    max-height: 420px;
    transition-delay: 0s;
}

.cart-container.opened .cart-small {
    z-index: 1;
    opacity: 0;
}

.cart-container.opened .cart-wrapper {
    opacity: 1;
}

.cart-container.empty {
    opacity: 0;
}

body::before {
    content: "";
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity .3s ease-in-out;
    transition-delay: .2s;
}

body.cart-open::before {
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#closeCart {
    position: absolute;
    width: 52px;
    height: 52px;
    right: 0;
    color: #218838;
    background-color: #fafcff;
    text-align: center;
    font-size: 22px;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}

.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

.tulisan_kanan {
    text-align: right;
}