<div class="card mb-4 sales-order">
    <div class="card-header">
        Currency
        <div class="ml-auto">
            <button class="btn btn-success btn-lg" id="create-currency">Create</button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover dt-responsive nowrap" style="width:100%" id="table-currency">
            <thead>
                <tr>
                    <th>Kode Currency</th>
                    <th>Nama Currency</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $.ajax({
        url: 'src/app/ui/page/menu/main-navigation/master/currency/currency-table.js'
    });
</script>