<form id="input-currency" class="needs-validation" novalidate>
    <div class="card mb-4" id="add-data-1">
        <div class="card-header">
            Create
            <div class="ml-auto">
                <button class="btn btn-warning btn-lg" type="button" id="back">Back</button>
            </div>
        </div>
        <div class="card-body">
            <div class="mx-auto col-md-8">
                <div class="form-group">
                    <label for="kodeCurrency">Kode Currecy</label>
                    <input type="text" class="form-control" id="kodeCurrency" name="kodeCurrency"  autofocus required>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="namaCurrecy">Nama Currecy</label>
                    <input type="text" class="form-control" id="namaCurrency" name="namaCurrency"  autofocus required>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
               
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="mr-2 btn btn-link btn-sm" type="button" id="form-cancel">Cancel</button>
            <button class="btn btn-success btn-lg" type="submit">Save</button>
        </div>
    </div>
</form>

<script type="text/javascript">
  
    $.ajax({
        url: "src/app/ui/page/menu/main-navigation/master/currency/currency-create.js"
    });
    </script>
    