<div class="app-container">

    <div id="topbar"></div>
    <div id="sidebar"></div>

    <div class="app-content-outer">
        <div class="app-content-inner">

            <div id="content"></div>

        </div>
    </div>
</div>

<script>
    if (!userRepository.isLoggedIn) {
        userRepository.loggedOut()
    } else {
        // userRepository.picture().then(data => {
        $('#topbar').topbar({
            user: {
                title: userRepository.name,
                subtitle: userRepository.NamaCompany + ' - ' + userRepository.phone,
                // picture: data,
            }
        });
        // })
        $('#sidebar').sidebar(INITIAL_DASHBOARD_PAGE, [{
            group: 'Transaction',
            menu: [{
                name: 'Currency',
                icon: 'account_balance',
                route: 'main-navigation/master/currency',
                submenu: []
            }
            ]
        }
        ]);

    }
</script>