<div class="app-header header-shadow">
    <div class="app-header-right">
        <div class="user-info mr-3 text-right">
            <div class="user-info-heading"></div>
            <div class="user-info-subheading"></div>
        </div>
        <div class="dropdown">
            <button class="btn btn-link p-0 dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="show setting">
                <img class="rounded-circle" id="user-picture" src="/asset/img/person-placeholder.jpg" width="42"
                    alt="user picture">
            </button>
            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="dropdownMenuButton">
                <div class="settings-header">
                    <div class="settings-header-inner">
                        <div class="settings-header-background">
                        </div>
                        <div class="settings-header-content text-dark">
                            <h5 class="settings-header-title">Settings</h5>
                            <h6 class="settings-header-subtitle">Manage all of your options</h6>
                        </div>
                    </div>
                </div>
                <div class="tobar">
                    <ul class="nav flex-column">
                        <li class="nav-item-header nav-item">My Account</li>
                        <li class="nav-item">
                            <a class="nav-link" href="" id="about">
                                <i class="material-icons-outlined">book</i>
                                <span>About</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" id="changepassword">
                                <i class="material-icons-outlined">vpn_key</i>
                                <span>Change Password</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" id="auth-logged-out">
                                <i class="material-icons-outlined">exit_to_app</i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#auth-logged-out').click(function (e) {
        e.preventDefault();
        userRepository.loggedOut();
    });
</script>