<div class="list-group mb-2">
    <div class="list-group-item mt-2 border-dark">
        <div class="row rounded">
            <div class="col-8">
                <div style="height: 400px;width: 100%;" id="LineChart">
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <div style="height: 340px;width: 100%;" id="SpiderChart">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-deck mb-4">
    <div class="card" style="height: 100px" id="waiting-payment">
        <div class="card-body d-flex justify-content-center align-items-center rounded">
            <div class="d-flex align-items-center">
                <div class="media mx-2"><img src="/asset/img/pay.svg" class="img-fluid mr-2" style="width: 40px;">
                </div>
            </div>
            <div>
                <div style="font-size: 150%" class="text-info" id="waitingPay"><strong>0</strong></div>
                <div style="font-size: 80%">Waiting Payment</div>
            </div>
        </div>
    </div>
    <div class="card" style="height: 100px" id="waiting-fa">
        <div class="card-body d-flex justify-content-center align-items-center rounded">
            <div class="d-flex align-items-center">
                <div class="media mx-2"><img src="/asset/img/fa.svg" class="img-fluid mr-2" style="width: 40px;">
                </div>
            </div>
            <div>
                <div style="font-size: 150%" class="text-info" id="waitingFA"><strong>0</strong></div>
                <div style="font-size: 80%">Confirm Payment</div>
            </div>
        </div>
    </div>
    <div class="card" style="height: 100px" id="waiting-shipping">
        <div class="card-body d-flex justify-content-center align-items-center rounded">
            <div class="d-flex align-items-center">
                <div class="media mx-2"><img src="/asset/img/shipping.svg" class="img-fluid mr-2" style="width: 40px;">
                </div>
            </div>
            <div>
                <div style="font-size: 150%" class="text-info" id="waitingShip"><strong>0</strong></div>
                <div style="font-size: 80%">Waiting Shipping</div>
            </div>
        </div>
    </div>
    <div class="card" style="height: 100px" id="waiting-receive">
        <div class="card-body d-flex justify-content-center align-items-center rounded">
            <div class="d-flex align-items-center">
                <div class="media mx-2"><img src="/asset/img/receive.svg" class="img-fluid mr-2" style="width: 40px;">
                </div>
            </div>
            <div>
                <div style="font-size: 150%" class="text-info" id="waitingReceive"><strong>0</strong></div>
                <div style="font-size: 80%">Waiting Receive</div>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        url: "src/app/ui/page/menu/main-navigation/dashboard/analytics/analytics-charts.js"
    });
</script>