<div class="row h-100 no-gutters">
    <div class="d-none d-lg-block col-lg-4 bg-login"></div>
    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
            <div class="app-logo"></div>
            <h4>
                <div>Welcome back,</div>
            </h4>
            <h6>
                No account?
                <a class="text-primary" href="" id="register">Sign up now</a>
            </h6>
            <div class="divider"></div>
            <div>
                <form name="login">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <div role="group" tabindex="-1">
                                    <label for="email">Phone</label>
                                    <input class="form-control" id="email" name="email" placeholder="Phone here..."
                                        type="text">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <div role="group" tabindex="-1">
                                    <label for="password">Password</label>
                                    <input class="form-control" id="password" name="password"
                                        placeholder="Password here..." type="password">
                                </div>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input autocloomplete="off" class="custom-control-input" id="exampleCheck" name="check"
                            type="checkbox" value="true">
                        <label class="custom-control-label" for="exampleCheck"> Keep me logged in </label>
                    </div>
                    <div class="divider"></div>
                    <div class="d-flex align-items-center">
                        <div class="ml-auto">
                            <a class="btn-lg btn btn-link" href="#">
                                Recover Password
                            </a>
                            <button class="btn btn-primary btn-lg" id="tes">
                                Login to Dashboard
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    if (userRepository.isLoggedIn) {
        Navigator.push('/dashboard')
    }
    $('form[name="login"]').submit(async function (e) {
        e.preventDefault();
        const form = e.currentTarget;
        // var response = await apiProvider.login(
        //     form.email.value,
        //     form.password.value
        // );
        sessionStorage.setItem('token', response['token']);
        sessionStorage.setItem('name', response.user['nama']);
        sessionStorage.setItem('phone', response.user['phone']);
        sessionStorage.setItem('NamaCompany', response.user['NamaCompany']);
        sessionStorage.setItem('level', response.user['level']);
        Navigator.push('/dashboard');
    });

    $('#register').click(function (e) {
        e.preventDefault();
        Navigator.push('/register/register')
    })
</script>